/* ============ IMPORT CUSTOM FONTS ============= */

@font-face {
  font-family: "Sharp Grotesk Semi-Bold 20";
  src: url(./assets/fonts/SharpGrotesk-SemiBold20.otf) format("opentype");
}
@font-face {
  font-family: "Sharp Grotesk Book 20";
  src: url(./assets/fonts/SharpGrotesk-Book20.otf) format("opentype");
}

/* ============ DECLARATION VARIABLES CSS =============== */

:root {
  /* Fonts */
  --title-font: "Sharp Grotesk Semi-Bold 20", sans-serif;
  --body-font: "Sharp Grotesk Book 20", sans-serif;
  /* Font-Sizing */
  --text-xl: 50px;
  --text-l: 36px;
  --text-m: 26px;
  --text-s: 20px;
  --text-xs: 16px;
  --link-underline: underline;

  /* Colors */
  /* PRIMARY COLORS */
  --black: #000000;
  --light-black: #2d2d2d;
  --grey: #666666;
  --ivory: #fbffed;
  --ivory-transparent: rgba(251, 255, 237, 0.9);
  --white: #ffffff;

  /* SECONDARY COLORS */
  --seagreen: #2e8540;
  --khaki: #b0c472;
  --lin: #fff9ea;
  --ecru: #f2ebd1;
  --mocassin: #f8e1a4;
  --navajowhite: #f2d79a;
  --ambre: #f1c34a;
  --venitien: #dea455;
  --sienna: #9a4726;

  /* BOX STYLE */
  --border: 0.1rem solid var(--light-black);
  --border-hover: 0.1rem solid var(--black);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.308);
}

/* ============== RESET PAGE ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
  font-family: "Grotesk";
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--venitien);
  border-radius: 1rem;
}

body {
  background: var(--ecru);
}

/* ========== HEADER STYLE PROPERTIES */
/* HEADER TOP */

.header .header-top {
  background: var(--ecru);
  padding: 1.5rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-top .icons {
  display: flex;
  align-items: center;
}

.header .header-top .logo img {
  width: 130px;
  height: 65px;
}

.header .header-top .search-form {
  width: 40rem;
  height: 4rem;
  border: var(--border);
  overflow: hidden;
  background: var(--ivory);
  display: flex;
  align-items: center;
  border-radius: 5rem;
}

.header .header-top .search-form input {
  font-family: var(--body-font);
  font-size: var(--text-xs);
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--light-black);
}

.header .header-top .search-form label {
  font-size: var(--text-s);
  padding-right: 1.5rem;
  color: var(--light-black);
  cursor: pointer;
}

.header .header-top .search-form label:hover {
  color: var(--venitien);
}

.header .header-top .icons div,
.header .header-top .icons a {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  color: var(--light-black);
  cursor: pointer;
}

.header .header-top .icons div:hover,
.header .header-top .icons a:hover {
  color: var(--venitien);
}

#search-button {
  display: none;
}

/* HEADER BOT */
.header .header-bot {
  background: var(--mocassin);
}

.header .header-bot .navbar {
  text-align: center;
  text-transform: uppercase;
}

.header .header-bot .navbar a {
  color: var(--light-black);
  display: inline-block;
  padding: 1rem;
  font-family: var(--title-font);
  font-size: var(--text-s);
  letter-spacing: 0.1em;
  position: relative;
}

.header .header-bot .navbar a::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--venitien);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.header .header-bot.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* ================== NAVBAR MOBILE */

.mobile-navbar {
  text-align: center;
  background: var(--mocassin);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: none;
}

.mobile-navbar a {
  font-size: var(--text-s);
  padding: 1.55rem;
  color: var(--light-black);
}

.mobile-navbar a:hover {
  background: var(--navajowhite);
}

/* ================== Authentication Section */

.authentication-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0);
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.557);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, height 0.2s ease;
}

.authentication-container.active-popup {
  transform: translate(-50%, -60%) scale(1);
}
.wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  padding: 20px 30px 120px;
  border-radius: 12px;
  background: var(--ambre);
  box-shadow: var(--shadow);
  overflow: hidden;
  margin-bottom: 120px;
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  color: var(--ivory);
  background: var(--sienna);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
  z-index: 1;
}

.form header {
  font-size: var(--text-l);
  font-family: var(--title-font);
  color: var(--ivory);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--light-black);
  text-align: center;
  cursor: pointer;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

/* CONNEXION */

form input {
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-family: var(--body-font);
  font-size: var(--text-xs);
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-xs);
  font-family: var(--body-font);
}

.checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: var(--ivory);
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: var(--ivory);
}

form button[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: var(--text-s);
  font-family: var(--body-font);
  background: var(--ivory);
  height: 60px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}

form p {
  color: var(--ivory);
  font-size: var(--text-xs);
  font-family: var(--body-font);
  text-align: center;
  margin-top: 15px;
}

form p a {
  color: var(--sienna);
  text-decoration: none;
}

form p a:hover {
  color: var(--venitien);
}

/* INSCRIPTION */
.form.register header {
  font-size: var(--text-l);
  font-family: var(--title-font);
  color: var(--sienna);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--light-black);
  text-align: center;
  cursor: pointer;
  opacity: 0.6;
}
.form.register {
  position: absolute;
  left: 50%;
  bottom: -122%;
  transform: translateX(-50%);
  width: calc(100% + 200px);
  padding: 20px 140px;
  border-radius: 50%;
  background: var(--ivory);
  overflow: auto;
  height: 100%;
  transition: all 0.6s ease-in-out;
  padding-bottom: 100px;
  margin-bottom: 180px;
}

.wrapper.register-active .form.register {
  border-radius: 32%;
  box-shadow: var(--shadow);
  bottom: -44%;
}

.form.register::-webkit-scrollbar {
  display: none;
}
.form.register label {
  font-size: var(--text-xs);
  font-family: var(--body-font);
  color: var(--sienna);
  margin-bottom: 5px;
}

.form.register select {
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--sienna);
  padding: 0 15px;
  font-family: var(--body-font);
  font-size: var(--text-xs);
  color: var(--sienna);
  background: var(--ivory);
  margin-bottom: 5px;
}

.form.register input {
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--ambre);
  padding: 0 15px;
  font-family: var(--body-font);
  font-size: var(--text-xs);
  background: var(--ivory);
}

/* Styles spécifiques à la page admin.php */

#administration-modal,
#dashboard-modal,
#gestion-modal {
  background-color: #f8e1a4;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.btnsContainer {
  display: flex;
  justify-content: center;
}

.admin-page {
  padding-left: 20rem;
  padding-right: 20rem;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 40px;
}

.admin-page h2 {
  font-family: var(--title-font);
  font-size: var(--text-l);
  color: var(--light-black);
  margin-bottom: 1.5rem;
}

.admin-page h3 {
  font-family: var(--title-font);
  font-size: var(--text-m);
  color: var(--light-black);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.admin-page h4 {
  font-family: var(--title-font);
  font-size: var(--text-s);
  color: var(--light-black);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.admin-page span,
.admin-page p {
  font-family: var(--body-font);
  font-size: var(--text-s);
  color: var(--light-black);
}

.userDiv {
  align-items: center;
  display: flex;
}

/* .modal-content {
  width: 100%;
} */

.admin-page label {
  font-family: var(--body-font);
  font-size: var(--text-xs);
  color: var(--light-black);
  display: block;
}

.admin-page select {
  width: auto;
  padding-left: 0.5rem;
  font-family: var(--body-font);
  font-size: var(--text-xs);
  border: var(--border);
  border-radius: 0.5rem;
}

.admin-page option {
  font-family: var(--body-font);
  font-size: var(--text-xs);
  color: var(--light-black);
}

.admin-page input[type="text"],
.admin-page input[type="number"],
.admin-page input[type="file"],
.admin-page textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: var(--body-font);
  font-size: var(--text-xs);
  border: var(--border);
  border-radius: 0.5rem;
}

.admin-page input[type="file"] {
  border: none;
}

.admin-page .modalBtn {
  padding: 1rem 1rem;
  font-family: var(--title-font);
  font-size: var(--text-s);
  color: var(--ivory);
  background-color: var(--seagreen);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 30px;
  width: 80rem;
}

.admin-page button {
  margin: 2rem;
  padding: 0.5rem 0.5rem;
  font-family: var(--title-font);
  font-size: var(--text-xs);
  color: var(--ivory);
  background-color: var(--seagreen);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.admin-page button:hover {
  background-color: var(--khaki);
}

.cartTable,
.userTable {
  width: 100%;
  border-collapse: collapse;
}
.cartTable th,
.cartTable td,
.userTable th,
.userTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px;
  font-family: var(--body-font);
  font-size: var(--text-xs);
}

.cartTable th {
  background-color: #f2ebd1;
}

.cartTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cartTable tr:hover {
  background-color: #e9e9e9;
}

.admin-page .cartTable {
  margin-top: 1rem;
}

.admin-page .cartTable th,
.admin-page .cartTable td {
  padding: 12px;
  font-size: var(--text-xs);
  border-bottom: 1px solid var(--light-grey);
  background-color: var(--light-grey);
}

.admin-page .cartTable tr:nth-child(even) {
  background-color: var(--white);
}

.admin-page .cartTable tr:hover {
  background-color: var(--light-grey);
}

/* ========== PAYMENT FORM */

#paymentForm {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: var(--ivory-transparent); */
  /* position: fixed; */
  /* top: 0;
  right: -105%; */
  /* z-index: 10000; */
  height: 70vh;
  width: 20vw;
  position: relative;
  left: 40%;
  top: 80%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.paymentDivs {
  position: relative;
}

.paymentInput {
  border-bottom: solid 1px grey;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 35px;
  /* position: relative; */
}

#paymentIcons {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 90%;
}

.paymentInput:focus {
  border-color: #f8e1a4;
  color: #f8e1a4;
}

#paymentSubmit {
  border-radius: 10px;
  padding: 10px;
  background-color: #f8e1a4;
}

/* ============ PRODUCTS PAGE ============= */
#filterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#categoriesFiltersDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#subCategoriesFiltersDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

#filterDiv button {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  background-color: white;
  color: black;
  font-family: var(--body-font);
  font-size: var(--text-xs);
}

#filterDiv button:hover {
  /* border: solid 1px black; */
  background-color: sienna;
  color: white;
  transition-duration: 0.5s;
}

#productsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em;
}

.productCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10vw;
  min-height: 40vh;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.productCards a {
  text-decoration: none;
  color: var(--light-black);
  height: 70%;
  margin-bottom: 30px;
}

.productCards img {
  width: 140px;
  height: 140px;
}

.cardTitle {
  font-family: var(--body-font);
  font-size: var(--text-xs);
  margin-bottom: 10px;
  width: fit-content;
  padding: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardWeight {
  font-family: var(--body-font);
  font-size: var(--text-xs);
  width: fit-content;
  border: solid 1px black;
  padding: 3px;
  font-size: 70%;
}

.cardPrice {
  font-family: var(--body-font);
  font-size: var(--text-xs);
  /* margin-bottom: 10px; */
  width: fit-content;
  padding: 3px;
  /* font-size: 70%; */
}

.cardInputs {
  /* width: 50%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px; */
  margin-bottom: 10px;
  width: 60%;
  padding: 0.5rem;
  font-family: var(--body-font);
  font-size: var(--text-xs);
  border: var(--border);
  border-radius: 0.5rem;
}

.cardButtons {
  /* margin: 2rem;   */
  padding: 0.5rem 0.5rem;
  font-family: var(--title-font);
  font-size: var(--text-xs);
  color: var(--ivory);
  background-color: sienna;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
/* ============ MEDIAQUERIES ============= */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .header-top {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 6rem;
  }

  .header .header-bot {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  #search-button {
    display: inline-block;
  }
  .header .header-top {
    box-shadow: var(--shadow);
    position: relative;
  }
  .header .header-top .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--shadow);
  }
  .header .header-top .search-form.active {
    top: 115%;
  }

  /* Media queries pour la page admin.php */
  .admin-page {
    padding: 1rem;
  }

  .admin-page h2 {
    font-size: var(--text-m);
  }

  .admin-page label {
    font-size: var(--text-xs);
  }

  .admin-page input[type="text"],
  .admin-page textarea {
    font-size: var(--text-xs);
  }

  .admin-page button {
    font-size: var(--text-xs);
  }

  .cartTable th,
  .cartTable td,
  .userTable th,
  .userTable td {
    padding: 3px;
    font-family: var(--body-font);
    font-size: 12px;
  }
  .userTable {
    width: fit-content;
  }
  .btnsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header .header-top {
    padding: 1rem;
  }
}
